* {
  padding: 0;
  margin: 0;
}

h2 {
  text-align: center;
}

/* flex-direction: row; */
/* justify-content: center; Row */
/* align-items: center; column */

/* flex-direction: column; */
/* justify-content: center; column */
/* align-items: center; Row */

/* justify-content: space-between; */
/*  justify-content: space-around; */
/* justify-content: space-evenly; */

.flex-container {
  display: flex;
  height: 50vh;
  align-items: center;
  /* align-items: center; */
  /* flex-wrap: wrap; */
  /* flex-direction: row-reverse; */
  /* justify-content: flex-end; */
}

.flexbox {
  display: flex;
  width: 200px;
  margin: 10px;
  border: 3px solid black;
  background-color: blue;
  min-height: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}

.flexbox-1 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #cae8ca;
  border: 2px solid #4caf50;
  /* flex-shrink: 0; */
  /* flex-grow: 1; */
  /* order: 1; */
}

.flexbox-2 {
  /* position: relative; */
  /* flex-grow: 1; */
  /* flex-basis: 1; */
  /* flex-shrink: 0; */
  /* flex: 1; */
  /* order: 3; */
}

.flexbox-3 {
  /* position: fixed; */
  /* top: 10px; */
  /* flex-grow: 1; */
  /* flex-basis: 1; */
  /* flex-shrink: 0; */
  /* flex: 1; */
  /* order: 2; */
  /* align-items: center; */
}
/* 
html {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
} */